@page
@model WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

    <h1>About Cowboy Cafe</h1>
    <p>
        Founded in 2020 from the collective collective consciousness of the Spring Semester CIS 400 students of Kansas State University, Cowboy Cafe is devoted to bringing you the finest in trail-rider-themed dining experiences. So pull up a char, partner, and let’s wolf down some chow!
    </p>

