@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<center>
    <img class="center-block" src="~/images/BuckingBronco.png" img alt="BuckingBronco" />
</center>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>

