@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>Cowboy Cafe Website Privacy Policy</h1>

<p>Cowboy Cafe respects and values the privacy of its customers, as we hope you respect and value our own. 
    This site does not collect any data on you. This site does not use cookies. 
    This site only displays information about Cowboy Cafe and its delectable food and delightful trail-rider-themed ambiance.</p>
